[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "bash/scripts/deps/jshint"]
	path = bash/scripts/deps/jshint
	url = git://github.com/jshint/jshint.git
[submodule "zsh/completions"]
	path = zsh/completions
	url = git://github.com/zsh-users/zsh-completions.git
